.sideNav{
    height:100%;
    background-color: rgb(242, 250, 250);
    width:30%;
    min-width:190px;
    display: flex;
    flex-direction: column;
    align-items:  center;   
    font-family: 'PT Sans', sans-serif;
    max-width: 350px;
    margin-bottom: 20px;

    @media (max-width: 900px){
        width:100%;
        max-width: 100%;
    }
    .sideNav-header{
        background-size: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 10%;
        display: flex;
        flex-direction: column;

        .heading{
            background-image: radial-gradient(circle at 15.83% 47.01%, #de06dc 0, #c600e2 16.67%, #ab01e8 33.33%, #880ced 50%, #5819f2 66.67%, #0024f7 83.33%, #002dfb 100%);
            background-clip: text ;
            background-clip: icon ;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;       
        }
        @media (max-width: 900px){
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3%;
            padding: 0 4%;

            .ToggleButton{
                justify-content: flex-end;
            }
        }

        svg{
            color: purple;
            width: 2rem;
        }
        button{
            @media (max-width: 900px){
                display: flex;
            }
        }
    }

    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width:100%;
        @media (max-width:900px){
            width:100%;
        }
    }


    .sideNav-contents{
        color: rgb(58, 57, 57);
        width:100%;
        text-align: center;

        .nav-list{
            margin-top: 2rem;
            padding-left: 0px;
        }

        a{
            color: rgb(58, 57, 57);
            text-decoration: none;
        }
        .nav-text{
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 8px 0px 8px 6%;
            list-style: none;
            height: 3rem;
            font-weight: 650;
            font-size: 16px;
            transition: 6ms ease-out;

            span{
                margin-left: 1.5rem;
            }
            svg{
                width: 1.5rem;
                height:1.5rem;
            }
        }
        .nav-active{
            background: rgb(218, 245, 245);
        }
    }

    .upgrade-plan{
        background-color:rgb(227, 238, 238) ;
        margin-top: auto;
        margin-bottom: 4rem;
        padding: 5% 15%;
        border-radius: 5%;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.5px;

        @media (max-width:900px){
            margin: 0% 23% 4%;
            padding: 5% 8%;
        }

        .days-left{
            margin-bottom: 4%;
            color:rgb(27, 87, 253);
        }
        .trail{
            margin-bottom: 4%;
            font-weight: 500;
        }
        .btn{
            width:100%;
            background-color: rgb(227, 238, 238);
            border: 2px solid black;
            font-weight: 800;
            color: black;
        }
    }
}

