.view-cards{
    margin-top: 5%;
    border:none;
    border-radius: 23px;
    padding : 4% 6%;
    padding-top: 0;
    color:rgba(0, 0, 0, 0.712);
    display: flex;
    flex-direction: column;
    background-color: rgba(222, 247, 247, 0.712);
    .task-header{
        font-weight: bold;
        font-size: 1.2rem;

        .task-heading{
            margin-top: 5px;
        }

        .task-info{
            button{
                text-align: end;
                outline:  none;
                background:none;
                border: none;
                 svg{
                     vertical-align:0%;
                     width:100%;
                 }
            }
        }
    }
    .addTask-footer{
        display: flex;
        justify-content: center;
    }
}