html{
    height:100%;
}
body{
    height: 100%;
}
#root{
    height: 100%;
}
.App{
    height: 100%;
    display: flex;
}
@media only screen and (max-width: 900px) {
        .App{
            flex-direction: column;   
        }
}